// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#root {
  display: flex;

  .server-column {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 70px;
    min-width: 70px;

    .server-node {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      background-image: url();
    }

  }

  .room-column {
    display: flex;
    flex-direction: column;

    width: 238px;
    min-width: 238px;

    .room-column-header {
      width 100%;
      height: 48px;
    }

    .room-index {
      width 100%;
      height: auto;
    }

    .account-footer {
      display: flex;
      align-items: center;
      position: relative;

      width 100%;
      height: 52px;
      min-height: 52px;

      .profile-icon {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-image: url();


        .online-status {
          position: absolute;

          height: 10px;
          width: 10px;
          border-radius: 50%;
          border-width: medium;
          background-color: green;
        }
      }
    }
  }

  .room-column {
    display: flex;
    flex-direction: column;

    .room-header {
      width: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      .header-title {


        .room-name {
          color: #fff;
          font-size: 18px;
          font-weight: 600;
        }
      }

      .header-options {


        .header-button{
          margin-left: 10px;
          margin-right: 10px;
        }
      }
    }

    .room-content {
      display: flex;
      flex-direction: row;

      .room-body {

      }

      .member-index {

      }
    }
  }
}
